.row-md-auto {
    margin-top: 3%;
}

.c-h {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.col-md-8 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}