.row-md-auto {
    margin-top: 3%;
}

.c-h {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.col-md-8 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.scroll {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height:300px;
    width: 400px;
    background: #fff;
    border: 1px solid #C1C1C1;
    overflow-y: scroll;
}