<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Meetings Service</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/my.css" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="#" id="home">MeetingsServiceApp</a>

    <ul class="nav navbar-nav " th:if="${signInData.user}">
        <li class="nav-item">
            <a class="nav-link" href="#" id="create-meeting">Create meeting</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#" id="meetings-management">Meetings management</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#" id="my-meetings">Current meetings</a>
        </li>

    </ul>

    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <div th:if="!${signInData.user}">
                <a class="btn btn-primary mt-2" href="/login">
                    Sign in
                </a>
            </div>
            <div th:unless="!${signInData.user}">
                <div>
                    <a class="btn btn-primary mt-2" id="userName" href="/logout">
                    </a>
                </div>
            </div>
        </li>
    </ul>
</nav>

<div class="container">
    <div class="row-md-auto">
        <div class="col-md-auto" id="hint">
            <h4 class="c-h">Rules for working with the service</h4>
            <p class="text-center">1. To use the service, you must sign in via Google. To do this, there is a button in the right corner of the navigation bar.</p>
            <p class="text-center">2. When you click on a brand, you will be returned to this hint.</p>
            <p class="text-center">3. The "Create meeting" tab is used to add your own meetings.</p>
            <p class="text-center">4. The "Meetings management" tab is used to view all meetings.</p>
            <p class="text-center">5. The "Current meetings " tab is used for editing current meetings.</p>
            <p class="text-center">6. To sign out, click the button in the right corner again.</p>
        </div>
    </div>
</div>

<script th:inline="javascript">
    let signInData = [[${signInData}]];
    $('#userName').text(signInData.user.userName);
</script>

<script th:inline="javascript" src="../js/createMeeting.js"></script>
<script th:inline="javascript" src="../js/manageMeetings.js"></script>
<script th:inline="javascript" src="../js/myMeetings.js"></script>
<script th:inline="javascript" src="../js/home.js"></script>
<script th:inline="javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>